<h1>Create</h1>
<h3>Comic</h3>
<hr/>
<form method="post">
    <label>Nombre</label>
    <input type="text" name="Nombre" class="form-control" required />
    <label>Imagen</label>
    <input type="text" name="Imagen" class="form-control" required />
    <label>Descripcion</label>
    <input type="text" name="Descripcion" class="form-control" required />
    <button class="btn btn-info">Create</button>
</form>
<a asp-controller="Comics" asp-action="Index">Bac to List</a>