@model List<Comic>
<h1>Comics SQL y Oracle</h1>
<a asp-controller="Comics" asp-action="Create">Create new</a>
@if(Model != null){
    <table class="table table-bordered">
        <tbody>
            <tr>
                @foreach(Comic comic in Model)
                {
                    <td>
                        <img src="@comic.Imagen" style="width:150px"; height="auto" />
                        <h1>@comic.Nombre</h1>
                        <p>@comic.Descripcion</p>
                    </td>

                }
            </tr>
        </tbody>
    </table>
}